article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

div {
    display: flex;
    flex-direction: column;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.follow {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;
    transition: .3s ease background-color;
}

.follow:hover {
    opacity: .8;
}

.following-text {
    display: block;
}

.follow.isFollowing {
    border: 1px solid #bbb;
    background: transparent;
    color: #fff;
    width: 140px;
}

.follow.isFollowing:hover {
    background-color: rgba(255, 0, 0, 0.178);
    color: red;
    border: 1px solid red;
    transition: .3s ease all;
    opacity: 1;
}

.stop-following-text{
    display:none;
}

.follow.isFollowing:hover .following-text{
    display: none;
}

.follow.isFollowing:hover .stop-following-text{
    display: block;
}





